@model IEnumerable<LisaKatherine.Interface.IPublishedArticle>
<div id="BlogList">
    <div class="top">
        <h1>
            Blog</h1>
    </div>
    <div class="middle">
        @{var month = 0;}
        @foreach (var item in Model)
        {
            if (month != ((DateTime)item.DatePublished).Month)
            {
                if (month != 0)
                { @Html.Raw("</div>");
                }
                month = ((DateTime)item.DatePublished).Month;
            @Html.Raw(String.Format("<div class=\"slide\" id=\"{0:yyMM}\">{0:MMM yyyy}</div><div class=\"view\" id=\"{0:yyMM}_view\">", item.DatePublished));

            }
            <div class="Headline">@Html.ActionLink(item.Headline, "Details/" + item.Headline.Replace(" ", "_"), new { id = item.ArticleId })</div>

        }
    </div>
</div>
<div class="bottom">
</div>
</div>