<div id="FBLogin">
@if (@ViewBag.FBLoginButtonVisible)
{ 
    <p>Log into Facebook to leave a message: </p>
    <a id="FBLoginButton"  href="@ViewBag.FBLoginButton" onclick="FacebookAuth.start(event)" >
    Login to Facebook</a>
}

<img ID="FBUserImage" src="@ViewBag.FBUserImage" />
@ViewBag.FBUserNameLabel
</div>