@model LisaKatherine.Models.PublishedArticles

@{
    ViewBag.Title = "Lisa Katherine  - Work Blog";
    ViewBag.Section = "Work";
    ViewBag.Keywords = "Brighton, Web Designer, Photographer, Science Geek";
}

<h1>@Model.headline</h1>
<h3>@Model.strapline</h3>
<div class="articlebody">@Html.Raw(@Model.body)</div>


<div class="line"></div>

<h4>
    Photo Blog</h4>
@{Html.RenderAction("BlogList", "Work");}
