/***
BLUE:   #457799
YELLOW: #E7D973
PINK:   #BF7E96
***/

html { margin: 0; padding: 0; }
body { background-color:#FFF; font-family: 'Droid Sans' , Sans-Serif; font-size: 0.7em; margin: 0px; padding: 0; color: #696969; }
a:link, a:visited, a:active { color: #BF7E96; text-decoration: underline; }
a:hover { color: #E7D973; text-decoration: none; }
p, ul {  line-height: 1.6em; }
img { border: 0 none;}

/* HEADINGS ----------------------------------------------------------*/ 
h1, h2, h3, h4, h5, h6 { color: #696969; font-weight:normal; }
h1 { font-size: 2em; padding-bottom: 0; margin-bottom: 0; }
h2 { font-family: 'Rancho'; font-size: 2.2em; margin: 10px 0 0 0; }
h2 a:link, h2 a:visited, h2 a:active { text-decoration:none; color:#696969}
h2 a:hover { color: #E7D973; text-decoration: none; }
h3 { font-size: 1.6em; font-family: Rancho; font-weight: normal; margin: 5px 0 0 0; }
h4 { font-size: 1.4em; font-family: Rancho; font-weight: normal; margin:10px 0; color:#fff; background-color: #E7D973; padding:2px; border-top:1px dashed #fff; border-bottom:1px dashed #fff; }
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 { margin-top: 0; }

/** ----------------- layout --------------- ***/
#pagecontainer { width: 972px;margin:0 auto; background-color:#fff; text-align:center;}
#header { color: #000; padding: 0; width: 962px; background-position: left top; background-repeat: no-repeat; margin:0 auto -2px; }
#header #logo { text-align:right; border:none; }
#main h1 { border: medium none; color: #BF7E96; font-size: 48px; font-weight: normal; margin: 0; font-family: 'Rancho' , Sans-Serif; }
#main #col2 h1 { margin-left:40px; }
#main { margin: 10px auto 0px; position: relative; width: 962px; height:100%; background-image:url(/Content/images/top_lines.gif); background-repeat:no-repeat; text-align:left }
#main .head { height: 138px; padding:14px 0; }
#main .body { background-image: url("/Content/images/left_lines.gif"); min-height: 500px; background-repeat:repeat-y; }
#footer { height: 40px; position:relative; bottom:0; margin:0 auto; padding:10px; width: 942px; background-image:url(/Content/images/left_lines.gif); background-repeat:repeat-y; clear:both; }
.pager { margin-top:10px; text-align:right}
#container3 { width:962px; position:relative; }
#container2 { float:left; width:962px; position:relative; right:138px; background-image:url(/Content/images/left_lines.gif); background-repeat:repeat-y; background-position:138px 0; }
#col2 { float:left; width:650px; position:relative; left:235px; overflow:hidden; margin-top:-50px; }
#col3 { float:left; width:220px; position:relative; left:250px; margin-top:-70px; }
.section-image {width:190px; margin-top:20px;}
#menucontainer { }

.yellowArrow { background-image:url(/Content/images/yellowArrow.gif); position:absolute; right:-40px; top:-12px; height:34px; width:58px}
.blueArrow { background-image:url(/Content/images/blueArrow.gif); position:absolute; right:-40px; top:61px;height:34px; width:58px}
/*.line { height:1px; width:100%; border-top:1px dashed #E7D973; margin-bottom:20px;}*/

/* TAB MENU ----------------------------------------------------------*/ 
ul#menu { position: relative; text-align: right; width: 912px; margin: 0 auto; float:right; width:600px; }
ul#menu li { display: inline-block; list-style: none; width: 120px; height: 38px; float:left; }
ul#menu li#greeting { padding: 10px 20px; font-weight: bold; text-decoration: none; line-height: 2.8em; color: #fff; }
ul#menu li a { padding: 15px 0 15px; text-decoration: none; color: #696969; text-align: right; display: block; font-family: 'Rancho' , Sans-Serif; font-size: 1.6em; }
ul#menu li a:hover { text-decoration: none; color:#E7D973; }
ul#menu li a:active { text-decoration: none; }
ul#menu li.selected a { background-color: #fff; color: #000; }

/*---------Menu 2 --------*/
ul#menu2 { position: relative; text-align: right; width:791px; float:right; }
ul#menu2 li { display: inline-block; list-style: none; background-image:url(/Content/images/buttons.gif); background-repeat:no-repeat; height: 38px; width:120px; float:left;}
ul#menu2 li a { display:inline-block; font-size:0;}
ul#menu2 li.link_web{ background-position:0 0;}
ul#menu2 li.link_web:hover{ background-position:0 -43px;}
ul#menu2 li.link_photos{ background-position:-274px 0;}
ul#menu2 li.link_photos:hover{ background-position:-274px -43px;}
ul#menu2 li.link_blogs{ background-position:-549px 0;}
ul#menu2 li.link_blogs:hover{background-position:-549px -43px;}
ul#menu2 li, ul#menu2 li a { width: 233px; height:38px }
ul#menu2 li.link_spacer { width: 40px; background-position:-234px 0; }

/*--------Icons------------*/

#icons div { float:left; padding:0 0 0 20px;margin-bottom:20px }
#icons div img { height:50px; }
 

/* FORM LAYOUT ELEMENTS ----------------------------------------------------------*/ 
input, textarea {color:#666; font-size:13px;}
input[type="text"] { width: 200px; border: 1px solid #CCC; }
input[type="password"] { width: 200px; border: 1px solid #CCC; }
input[type="submit"] { color:#fff; background-color:#BF7E96;border:1px;font-family: Rancho, Sans-Serif; font-size:1.4em;}
textarea { width:500px; height:160px; border: 1px solid #CCC; font-family:Arial;}
/* MISC ----------------------------------------------------------*/
#logindisplay { font-size: 1.1em; display: block; text-align: left; color: #E7D973; padding-left: 30px; float:right }
#logindisplay a:link { color: #E7D973; text-decoration: underline; }
#logindisplay a:visited { color: #E7D973; text-decoration: underline; }
#logindisplay a:hover { color: #E7D973; text-decoration: none; }

/* Styles for validation helpers-----------------------------------------------------------*/ 
.field-validation-error { color: #ff0000; }
.field-validation-valid { display: none; }
.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }
.validation-summary-errors { font-weight: bold; color: #ff0000; }
.validation-summary-valid { display: none; }

/* Styles for editor and display helpers----------------------------------------------------------*/
.display-label, .editor-label { margin: 1em 0 0 0; }
.display-field, .editor-field { margin: 0.5em 0 0 0; }
.text-box { width: 30em; }

/*------------------- twitter --------------------------*/
#twtr-widget-1 .twtr-bd { height: 260px; }
#Twitter { clear:both;}
div#twtr-widget-1.twtr-widget { font-family: Rancho, Sans-Serif !important; font-size: 1em !important; }
#twitter_t { width: 190px; padding: 0 10px; height: 34px; font-family: Rancho, Sans-Serif; color: #457799; font-size: 2.2em; }
#twitter_m { width: 190px; padding: 0 10px; }
#twitter_container { min-height: 45px; height: auto !important; }
#twitter_update_list { padding: 0px; margin: 8px 0 0; }
#twitter_update_list li { border-bottom: 1px dashed #BF7E96; list-style: none outside none; margin-bottom: 14px; padding-bottom: 5px; }
#twitter_update_list li a { color: #5f6d76; text-decoration: none; }
#twitter_update_list li a:hover { color: #31353d; background: #d3f1f9; }
#twitter_update_list li a { display: block; }
#twitter_update_list li span a { display: inline; font-style: italic; }
#twitter_b { font-family: 'Rancho' ,Sans-Serif; font-size: 1.9em; height: 29px; padding: 0 5px; text-align: right; vertical-align: top; width: 200px; }
#twitter_b a { color: #BF7E96; text-decoration: none; float: left; padding: 5px 5px 0 5px; display: block; }
#twitter_b a:hover { text-decoration: underline; }

/** Blog **/ 
#Blog { margin-top: 10px; }
.bloglist { margin-top: 20px; }
.author { font-style: italic; padding: 2px 0; }
.date { font-weight: bold; border-bottom: 1px dashed #BF7E96; }
.actionlink { padding: 2px 0; }
#Blog .date { padding: 2px 0 4px; margin-left:40px; }
#main #col2 #Blog h1 { margin-left:0;}
#Blog img 
{
    border:1px #E7D973 solid; border-radius: 5px; box-shadow: 6px 6px 6px -3px #CCCCCC; margin:4px 6px;
    }

/* ------------------ blog list ---------------------*/ 
#BlogList { width: 230px; }
#BlogList h1 { font-size:26px; color:#E7D973}
#BlogList .top { width: 190px; padding:20px 10px 0; }
#BlogList .middle { width: 190px; padding:0 10px; }
#BlogList .bottom { height: 54px; width: 210px; }
#BlogList .slide { border:none; padding: 4px 0; cursor:pointer; }
#BlogList .Headline { padding-left:4px }
#Blog img { padding: 5px; }
#LatestBlog { width:50%; padding:1em; -moz-box-shadow: 6px 6px 6px -3px #ccc; -webkit-box-shadow: 6px 6px 6px -3px #ccc; box-shadow: 6px 6px 6px -3px #ccc; position:relative; border:1px #eee solid; }
#LatestBlog h3 { width:300px; margin-bottom:5px;}
#LatestBlog .blogImage { position:absolute; right:2px; top:2px;}
#LatestBlog .date { margin-bottom:4px;}
#Social { float:right; width:138px}
h3 a:link, h3 a:visited, h3 a:active { color:#696969; text-decoration:none; width:280px; display:block }
h3 a:hover { color:#457799; text-decoration:underline }

/*---Flickr images---*/

#FlickrImage { float:right; position:relative;width:264px; clear:both; text-align:center; padding:10px 0;}
#FlickrImage  .title { width:100%; text-align:center;font-family: Rancho, Sans-Serif; font-size:1.2em }
#FlickrImage img { border:1px #457799 solid; border-radius: 5px; box-shadow: 6px 6px 6px -3px #CCCCCC;}

/*------contact me-------*/
fieldset { border:#E7D973 solid 1px;}
legend {  font-family: 'Rancho'; color:#457799; font-size:2em;} 

/* -----------footer--------------*/    
#footerlinks { text-align:center; padding-top:20px}

/* ------------ facebook -----------------*/
#FacebookPost img { float:left; margin-right:10px;}
#FacebookPost p { clear:both; padding-top:10px;}

#FBLoginButton { color:#fff; background-color:#BF7E96;border:1px;font-family: Rancho, Sans-Serif; font-size:1.4em; text-decoration:none; padding:3px 5px 5px;}

.fb-like { width:190px; padding-left:10px; padding-top:20px; }
.pluginCommentFlyoutFullButton { width:300px;}