@model LisaKatherine.Interface.IPublishedArticle
@{
    ViewBag.Title = "Lisa Katherine - Science Geekdom";
    ViewBag.Section = "geek";

    ViewBag.Keywords = "Brighton, Web Designer, Photographer, Science Geek";
}
<h1>@ViewBag.Headline</h1>
<div class="Strapline">@ViewBag.Strapline</div>
<div class="articlebody">@Html.Raw(ViewBag.Body)</div>
<div class="line">
</div>
<h4>
    Geek Blog</h4>
@{Html.RenderAction("BlogList", "Geek");}
