body
{
    font-family: Verdana, Arial;
    color: #8B2500;
    font-size: 12px;
    background-color: #FFF;
}

h1
{
    font-size: 14px;
}

#header
{
    border-bottom: 1px solid #EE9D80;
    margin-bottom: 10px;
}

#menu
{
    float: right;
}

a
{
    color: #8B2500;
}

.field-validation-error
{
    color: #FF3300;
}

/* ------ Tables ------*/
table { padding:0; margin:0}
th { background-color:#EE9D80; padding:2px; text-align:left; color:White; padding:3px; }
th a { color:White; text-decoration:none;}

td { padding:3px;}

tr.alt { background-color:#F8DED5;}

.editor-label, .display-label { width:120px; text-align:right; float:left; clear:both; padding:2px 5px 2px 0; font-weight:bold}
.editor-field { padding:0 5px 2px 0; }
.editor-field input { width:693px;border:1px solid  #EE9D80;}
.editor-field select { border:1px solid  #EE9D80;}
.display-field { padding:2px 5px 2px 0; height:20px}

iframe { height:600px;}

p { clear:both;}

.btn { background-color: #EE9D80;color: #8B2500; border-color: #8B2500;       } 
.pager { text-align:center;}